 <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to My Recipes</h1>
    <ul>
      <% recipes.forEach((recipe) => { %>
      <li>
        <a href="/recipes/<%= recipe._id %>"> A Recipes called <%= recipe.name %></a>
      </li>
      <% }) %>
    </ul>
  </body>
